<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
    <hgroup>
        <h1>Error.</h1>
        @if (ViewBag.ErrorMessage == null)
        {
        <h4 class="alert alert-danger">An error occurred while processing your request.</h4>
        }
        else
        {
            <h4 class="alert alert-danger">@ViewBag.ErrorMessage</h4>
        }
    </hgroup>
</body>
</html>
